  body { 
  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(3, 3, 53);
  }
  
  header {
    background-color: #151568;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .loguito{
    width: 100px;
    height: 100px;
  }
  
  header nav a {
    text-decoration: none;
    margin: 0px 20px;
    color: white;
    font-size: 30px;

  }
  header nav a:hover {
    color:rgb(20, 19, 2);;
  }
  
  header div form .buscar {
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 18px;
    
  }
  
  main {
    padding: 20px;
    margin-bottom: 50px;
  }
  
  h2 {
    color: white;
    font-size: 30px;
  }
  
  .listado-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
   
  }
  .listado-items1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }
  .listado-items2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }
  
  .item {
    background-color: #33339e;
    text-align: center;
    width: 330px
  }
    
  .titan {
    width: 330px;
    height: 400px;
  }
  .channing {
    width: 330px;
    height: 400px;
  }
  .shrek {
    width: 330px;
    height: 400px; 
    
   }
   .gracioso {
    width: 330px;
    height: 400px; 
   }
  .rapido {
    width: 330px;
    height: 400px;
  }
  .fuerte {
    width: 330px;
    height: 400px;
  }
  .ella {
    width: 330px;
    height: 400px;
  }
  .juman {
    width: 330px;
    height: 400px;
  }
  .grey {
    width: 330px;
    height: 400px;
  }
  .amigo {
    width: 330px;
    height: 400px;
  }
  .got {
    width: 330px;
    height: 400px;
  }
  .to {
    width: 330px;
    height: 400px; 
   }
  .item a {
    text-decoration: none;
    color:white;
  }
  
  .item a:hover {
    color:rgb(20, 19, 2);
  }
  
  footer {
    background-color: #151568;
    padding: 15px;
  }
  
  footer ul {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    color:white
  }

  

/* DETAIL-------------------------------------------------------------------------------- */
.contenido{
  background-color: rgb(3, 3, 53);
  padding-bottom: 4%;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.titulo{
  font-size: 300%;
  margin-left: 7%;
  margin-top: 1%;
}
.contenedorpadre{
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-around;
  align-items: center;
  
 
}

.datos{
  background-color: rgb(3, 3, 53);
  padding-right: 4%;
  padding-left: 2%;
  font-size: 120%;
  color: white;
}
.sinopsis{
  padding-left: 4%;
  padding-right: 2%;
  text-align: justify;
  font-size: 130%;
  color: white;
}
.caja{
  padding-bottom: 0%;
}
.fondoimg{
  width: 1520px;
  height: 700px;
}



/* DETAIL SERIES-------------------------------------------------------------------------- */
.contenedorprincipal{
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-around;
  align-items: center;
}
.cajaserie{
  padding-bottom: 0%;
}
.tituloserie{
  align-self: flex-start;
}
.botones{
  display: flex;
  flex-wrap: wrap;
  margin-left: 7%;
}
.favoritos{
  padding-left: 10px;
  
}
/* DETAIL----------------------------------------------------------------------------------- */
/* FAVORITOS-------------------------------------------------------------------------------- */


  .titanicc{
    width: 330px;
    height: 400px;
  }
  .rocioo{
    width: 330px;
    height: 400px;
    margin-left: 20px;
  }
  .jumanjii{
    width: 330px;
    height: 400px;
  }
  .gatoo{
    width: 330px;
    height: 400px;
  }
  .gato11{
    width: 330px;
  height: 400px;
  margin-left: 20px;
  }
  .grey11{
    margin-left: 20px;
   width: 330px;
  height: 400px;
  }
  .yo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    gap: 20px;
  }
  .perro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    gap: 20px;
  }

  /* FAVORITOS-------------------------------------------------------------------------------- */
  .rochi {
    font-size: 20px;
    color: white;
    padding: 0px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
    
  }

  .titane {
    width: 330px;
    height: 400px;
  }
 
  .rocio {
    width: 330px;
    height: 400px;
    margin-left: 20px;
    
  }
  .gato {
    width: 330px;
    height: 400px;
    
  }
 .gato1 {
  width: 330px;
  height: 400px;
  margin-left: 20px;
 }
 .perro {
   margin-bottom: 50px;
 }
 .grey1 {
   margin-left: 20px;
   width: 330px;
  height: 400px;
 }
 .item1 {
  width: 250px;
  padding: 10px 15px;  

}
.item1 img {
  width: 100%;
}

.segundo {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration-line: underline;
  text-align: center;
  
  
}
.item2 {
  color: white;
  text-decoration: none;
  text-align: center;
  
}
.ro {
  font-size: large;
  color: white;
  text-align: center;
  text-decoration: underline;
}
/* GÉNERO------------------------------------------------------- */
.generos{
  font-size: 150%;
  display: flex;
  flex-direction: row;
  background-color: #00000086;
  justify-content: center;
  box-shadow: 1px 1px 30px 7px rgba(255, 255, 255, 0.26);
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
}
.masgeneros{
  display: flex;
  flex-direction: column;
}
.masmasgeneros{
  display: flex;
  flex-direction: column;
}

.sindecoracion{
  color: rgba(121, 213, 247, 0.938);
}

@media only screen and (min-device-width:320px) and (max-device-width:425px) {
  /* HEADER Y FOOTER------------------------------------------------------------------------------------- */
    header {
      padding-right: 290px;
      width: 15px;
    }
    
    header nav a {
      font-size: 20px;
  
    }
    
    header div form .buscar {
      width: 95px;
      height: 25px;
    }
  
    h2 {
      font-size: 15px;
    }
    
    
    footer {
      padding-bottom: 1px;
      padding-top: 5px;
    }
    .loguito{
      width: 55px;
      height: 55px;
    }
    
  /* HEADER Y FOOTER------------------------------------------------------------------------------------- */

  /* DETAIL MOVIES-------------------------------------------------------------------------------- */

  .contenido{
    padding-bottom: 4%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  .titulo{
    font-size: 25px;
    margin-bottom: 0%;
    margin-top: 7px;
  }
  .fa-solid, .fas {
    font-size: 8px;
  }
  
  .datos{
    padding-right: 2%;
    padding-left: 2%;
    font-size: 15px;
    margin-bottom: 10px;
    margin: 4% 4%;
  }
  .sinopsis{
    margin: 4% 4%;
    margin-top: 2px;
    font-size: 15px;
    padding: 2% 2%;
  }
  /* DETAIL MOVIES----------------------------------------------------------------------------------- */
  /* DETAIL SERIES----------------------------------------------------------------------------- */
    .contenedorprincipal{
      background-size: 330px;
      padding-top: 20%;
    }
    .cajaserie{
      padding-top: 1%;
    }
    .tituloserie{
      margin-top: 26%;
      margin-bottom: 0%
    }
  /* DETALLE SERIES----------------------------------------------------------------------------- */
  /* FAVORITOS------------------------------------------------------------------------------------*/
    .yo{
      display: flex;
      flex-direction: column;
    }

    .titanicc {
      width: 280px;
    }
    .rocioo{
      width: 280px;
      margin-left: 0px;
    }
    .jumanjii{
      width: 280px;
      margin-left: 0px;
    }
    .grey11{
      width: 280px;
      margin-left: 0px;
    }
    .gato11{
      width: 280px;
      margin-left: 0px;
    }
    .gatoo{
      width: 280px;
      margin-left: 0px;
    }

   
  /* FAVORITOS------------------------------------------------------------------------------------*/

  /* GÉNERO----------------------------------------------------------------------------------------*/
  .generos{
    font-size: 150%;
    display: flex;
    flex-direction: row;
    background-color: #00000086;
    justify-content: center;
    box-shadow: 1px 1px 30px 7px rgba(255, 255, 255, 0.26);
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
  
  }
  .masgeneros{
    display: flex;
    flex-direction: column;
  }
  .masmasgeneros{
    display: flex;
    flex-direction: column;
  }

}



 