

  body { 
  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(3, 3, 53);
  }
  
  header {
    background-color: #151568;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  header nav a {
    text-decoration: none;
    margin: 0px 20px;
    color: white;

  }
  header nav a:hover {
    color:rgb(20, 19, 2);;
  }
  
  header div form .buscar {
    border-radius: 20px;
    padding: 5px 10px;
    
  }
  
  main {
    padding: 20px;
    margin-bottom: 50px;
  }
  
  h2 {
    color: white;
  }
  
  .listado-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .item {
    background-color: #33339e;
    text-align: center;
    width: 330px
  }
    
  .titan {
    width: 330px;
    height: 400px;
  }
  .channing {
    width: 330px;
    height: 400px;
  }
  .shrek {
    width: 330px;
    height: 400px; 
    
   }
   .gracioso {
    width: 330px;
    height: 400px; 
   }
  .rapido {
    width: 330px;
    height: 400px;
  }
  .fuerte {
    width: 330px;
    height: 400px;
  }
  .ella {
    width: 330px;
    height: 400px;
  }
  .juman {
    width: 330px;
    height: 400px;
  }
  .grey {
    width: 330px;
    height: 400px;
  }
  .amigo {
    width: 330px;
    height: 400px;
  }
  .got {
    width: 330px;
    height: 400px;
  }
  .to {
    width: 330px;
    height: 400px; 
   }
  .item a {
    text-decoration: none;
    color:white;
  }
  
  .item a:hover {
    color:rgb(20, 19, 2);
  }
  
  footer {
    background-color: #151568;
    padding: 15px;
  }
  
  footer ul {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    color:white
  }
  

/* DETAIL-------------------------------------------------------------------------------- */
.loguito{
  width: 100px;
  height: 100px;
}

header div img{
  width: auto;
  height: auto;
}

header nav a{
  font-size: 30px;
}
h2{
  font-size: 15px;
}
header form input{
  font-size: 18px;
}

.contenido{
  background-color: rgb(3, 3, 53);
  padding-bottom: 4%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.titulo{
  font-size: 300%;
}
.contenedorpadre{
  background-image: url(../img/portadadetalle.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-around;
}

.datos{
  background-color: rgb(3, 3, 53);
  padding-right: 4%;
  padding-left: 2%;
  font-size: 120%;
}
.sinopsis{
  padding-left: 4%;
  padding-right: 2%;
  text-align: justify;
  font-size: 130%;
}
.caja{
  background: linear-gradient(180deg,rgba(80, 80, 122, 0.002), rgb(3, 3, 53));
  padding-top: 40%;
  padding-bottom: 2%;
  padding-left: 4%;
  
}

  /* DETAIL----------------------------------------------------------------------------------- */
  .rochi {
    font-size: 20px;
    color: white;
    padding: 0px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
    
  }
  .titane {
    width: 330px;
    height: 400px;
  }
  .rocio {
    width: 330px;
    height: 400px;
    margin-left: 20px;
    
  }
  .gato {
    width: 330px;
    height: 400px;
    
  }
 .gato1 {
  width: 330px;
  height: 400px;
  margin-left: 20px;
 }
 .perro {
   margin-bottom: 50px;
 }
 .grey1 {
   margin-left: 20px;
   width: 330px;
  height: 400px;
 }
 .item1 {
  width: 250px;
  padding: 10px 15px;  
}
.item1 img {
  width: 100%;
}

.segundo {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration-line: underline;
  text-align: center;
  
  
}
.item2 {
  color: white;
  text-decoration: none;
  text-align: center;
  
}
.ro {
  font-size: large;
  color: white;
  text-align: center;
  text-decoration: underline;
}
@media(max-width:1076px){
  
}






 